.vs/EmployeeApi.slnx/DesignTimeBuild/.dtbcache.v2
.vs/EmployeeApi.slnx/FileContentIndex/d1f37089-80ae-423a-9788-455da3be737d.vsidx
.vs/EmployeeApi.slnx/v18/.suo
.vs/EmployeeApi.slnx/v18/DocumentLayout.json
.vs/EmployeeApi.slnx/v18/.futdcache.v2
